.clickable-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.clickable-image {
  display: block;
  user-select: none;
  pointer-events: none;
}

.click-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
}


